.contacts {
  margin-top: 20rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
  padding-bottom: 5rem;
  align-items: center;
  background-color: #3586ff;
}

.container-contacts {
  width: 100%;
}

h4 {
  color: rgb(255, 255, 255);
  font-weight: 700;
  margin-bottom: 1.875rem;
  width: 100%;
  text-align: center;
}

.contacts h1 {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 2.5rem;
  color: #fff;
}

.box-links {
  display: grid;
  gap: 1rem;
  margin: 1rem;
  grid-template-columns: 1fr 1fr;
}
.lnk {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(255, 255, 255);
}
.lnk svg {
  border: 1px solid rgb(255, 255, 255);
  padding: 0.3125rem;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  transition: all ease-in-out 0.4s;
}
.lnk svg:hover {
  transform: translateY(-10px);
}
.lnk a {
  color: white;
  font-size: 14px;
}

#copy {
  color: white;
  font-size: 12px;
}

.contacts .wave {
  position: absolute;
  background: url("../../utils/imgs/wave.webp");
  height: 100px;
  width: 100%;
  top: -100px;
  left: 0;
  background-size: 1000px 100px;
}
.contacts .wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}
.contacts .wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}

.contacts .wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
}
.contacts .wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite;
}

@media screen and (min-width: 700px) {
  .box-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 2rem 2rem;
  }
}

@keyframes animateWave {
  0% {
    background-postion-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}
@keyframes animateWave_02 {
  0% {
    background-postion-x: 0px;
  }
  100% {
    background-position-x: -1000px;
  }
}
